@import 'variables';

.global-reading-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--accent-gradient);
  z-index: 9999;
  transition: width 0.1s;
  box-shadow: 0 2px 10px var(--accent-glow);
}
